<section [ngClass]="lightmodus.light() ? 'light-background' : 'dark-background'">

  <div class="content" id="references" >
    <h1 #referencesTitle [ngClass]="lightmodus.light() ? 'color-light' : 'color-dark'">{{text.title()}}</h1>
    <div class="wrapper" [ngClass]="lightmodus.light() ? 'scrollbar-light' : 'scrollbar-dark'" appHorizontalDirectives #singleReference>
      @for(reference of text.references(); track reference){
          <app-single-reference [reference]="reference"></app-single-reference>
      }
    </div>
  </div>

</section>