@use '../shared/styles/mixins.scss' as *;
section {
  @include display(flex, column, center, center);
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: fit-content;
}

.content{
  @include display(flex, column, center, center);
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
  
}

.wrapper{
  @include display(flex, row, flex-start, center);
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
  gap: 30px;
  padding: 10px 10px;
  opacity: 0;
}

.animate-rotate-bottom{
  animation: rotate-bottom 1s ease-in-out both;
}

.animation-title{
  animation: animate-title 1s ease-in-out forwards;
}

h1{
  font-size: 36px;
  transform: translate(50%);
  opacity: 0;
}


@keyframes rotate-bottom {
  0% {
    opacity: 0;
    scale: 0.5;
    transform: rotateY(130deg);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes animate-title {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}