@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/shared-svg.scss' as *;
.header{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include display(flex, row, flex-start, center);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icon{
  font-size: 40px;
  height: auto;
  width: auto;
  &:hover{
    cursor: pointer;
    transition: ease-in-out 300ms;
  }
}

.light{
  color: $blues;
  &:hover{
    color: $red-hover;
  }
}

.dark{
  color: white;
  &:hover{
    color: $blues;  
  }
}