@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/shared-svg.scss' as *;
@use '../../../shared/styles/keyframes.scss' as *;

.header{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include display(flex, row, space-between, center);
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  z-index: 9;
  @media(min-width: 1800px){
    max-width: 1800px;
  }
}

.icons{
  @include display(flex, row, center, center);
  gap: 40px;
  padding-left: 20px;
}

.icon{
  font-size: 30px;
  height: auto;
  width: auto;
  &:hover{
    cursor: pointer;
    transition: ease-in-out 300ms;
  }
  @media (min-width: 1800px) {
    font-size: 56px;
    a{
      height: 60px;
      width: 60px;
    }
  }
}





.light{
  color: black;
  outline: 0.9px solid black;
  border-radius: 100%;
  &:hover{
    animation: colorPulseLight 3s ease-in-out infinite;
  }
}

.dark{
  color: white;
  outline: white 0.9px solid;
  border-radius: 100%;
  &:hover{
    animation: colorPulseDark 3s ease-in-out infinite;  
  }
}








app-logo{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate( -50%);
}