<div class="header">
  <div class="icons">
    <app-hero-github class="svg"></app-hero-github>
    <app-hero-email class="svg"></app-hero-email>
    <app-hero-linked class="svg"></app-hero-linked>
    @if(lightmodus.light()){
      <mat-icon class="light icon" (click)="lightmodus.toggle()">dark_mode</mat-icon>
    
      }@else {
      <mat-icon class="dark icon" (click)="lightmodus.toggle()">light_mode</mat-icon>
      }
  </div>

  
  <app-lg-button></app-lg-button>

  

  <div style="color: transparent;">...</div>

  

</div>