@use '../../../shared/styles/mixins' as *;

.frame-wrapper{
  @include display(flex, row, center, center);
  @include position(fixed, 0, 0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 10;

}

video{
  width: 90%;
  height: 90%;
  border-radius: 40px;
  z-index: 99;
  background-color: black;
}

.overlay{
  @include position(absolute, 50%, null, null, 50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 40px;
  @include display(flex, column, space-between, center);
  padding: 50px 0;
}

.buttons-wrapper{
  @include display(flex, row, center, center);
  gap: 20px;
  @media (max-width: 500px){
    flex-direction: column;
  }
}

.border-dark{
  border: 3px solid $dark-hover ;
  &:hover{
    border: 3px solid $dark-normal ;
    box-shadow: 2px 2px 20px 2px $dark-hover;
    transition: 300ms ease-in-out;
  }
}

.border-light{
  border: 3px solid $light-normal;
  &:hover{
    box-shadow: 2px 2px 20px 2px $light-hover;
    border: 3px solid $light-hover;
    transition: 300ms ease-in-out;
  }
}

.light-mode{
  border-color: white;
  &:hover{
    border-color: white;
  }
}

.video-info{
  color: white;
}