<section [ngClass]="lightmodus.light() ? 'light-background' : 'dark-background'">
  <div class="content" >
    <div class="title">
      <h1 aria-label="Paul Ivan">
        @for(letter of text.titleChars(); track $index){
        <span [style.--i]="$index" class="letter" [ngClass]="lightmodus.light() ? 'light-lupe' : 'dark-lupe'">{{ letter
          === ' ' ? '&nbsp;' :
          letter }}</span>
        }
      </h1>
      <h2 aria-label="Fullstack Developer">
        @for(letter of text.subtitleChars(); track $index){
        <span class="letter" [style.--i]="$index" [ngClass]="lightmodus.light() ? 'light-lupe' : 'dark-lupe'">{{ letter
          === ' ' ? '&nbsp;' :
          letter }}</span>
        }
      </h2>
    </div>
    <div class="button-wrapper">
      <mat-icon [style.color]="iconColor()" [@wavingAnimation]="animationState()">
        waving_hand
      </mat-icon>

      <button [attr.aria-label]="text.buttonText()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="onButtonClick()"
        [ngClass]="lightmodus.light() ? 'light-mode' : 'dark-mode'">
        {{text.buttonText()}}
      </button>
    </div>
      <mat-icon [matTooltip]="text.arrowText()" class="arrow" [ngClass]="lightmodus.light() ? 'border-light' : 'border-dark'" (click)="scrollService.navigatorScroll('about')">arrow_downward</mat-icon>
  </div>
</section>