@use '../shared/styles/mixins.scss' as *;

section{
  @include display(flex, column, center, center);
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: fit-content;
}

.content{
  @include display(flex, column, center, center);
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  opacity: 0;
}

a{
  text-decoration: none;
}

.animated-title{
  animation: animate-title 1s ease-in-out forwards;
}

@keyframes animate-title {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

form{
  width: 100%;
  @include  display(flex, column, center, center);
  gap: 30px;
}

.contact-field{
  @include display(flex, row, space-between, center);
  width: 100%;
  gap: 30px;
  @media (max-width: 800px){
    flex-direction: column;
  }
}

.input-field{
  @include display(flex, row, center, center);
  width: 100%;
  border-radius: 20px;
  padding: 4px;
  position: relative;
  
}

.form-field{
  @include display(flex, column, space-between, center);
  width: 100%;
  text-align: left;
  position: relative;
}

input, textarea, label{
  width: 100%;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  &:focus{
    outline: none;
  }
  
}

textarea{
  resize: none;
  min-height: 300px;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.error{
  font-size: 12px;
  position: absolute;
  top: 100%;
  color: red;
  width: 100%;
  @media(min-width: 800px){
    font-size: 16px;
  }
}

.textarea-length{
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: gray;
}

button{
  margin-top: 10px;
}


.custom-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}




.custom-checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0px 0px;
  width: fit-content;
  align-self: flex-start;
  width: fit-content;
  gap: 20px;
}

.label-text{
  width: fit-content;
}




.custom-checkbox-box {
  width: 20px ;
  height: 20px;
  border-radius: 4px;
  display: flex;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-light {
  border: 2px solid $light-normal;
}
.checkbox-dark {
  border: 2px solid $dark-hover;
}


.custom-checkbox-label:hover .checkbox-light {
  border-color: $light-hover;
}
.custom-checkbox-label:hover .checkbox-dark {
  border-color: $dark-normal;
}


.custom-checkbox:checked + .custom-checkbox-label .checkbox-light {
  background-color: $light-hover; 
  border-color: $light-normal;
}
.custom-checkbox:checked + .custom-checkbox-label .checkbox-dark {
  background-color: $dark-hover;
  border-color: $dark-normal;
}


.custom-checkbox:checked + .custom-checkbox-label .checkbox-light::after,
.custom-checkbox:checked + .custom-checkbox-label .checkbox-dark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

