@use '../../shared/styles/mixins.scss' as *;

.reference-wrapper{
  padding: 30px 20px;
  min-width: 600px;
  max-width: 700px;
  width: 100%;
  height: fit-content;
  @include display(flex, column, space-between, center);
  gap: 10px;
  border-radius: 30px;
  @media(max-width: 700px){
    min-width: 80vw;
    max-width: 90vw;
  }
}


.info-wrapper{
  width: 90%;
  @include display(flex, row, space-between, center);
  @media(max-width: 700px){
    flex-direction: column;
  }
}

.shadow-light{
  box-shadow: 0px 0px 10px 0px $light-hover;
}

.shadow-dark{
  box-shadow: 0px 0px 10px 0px $dark-normal;
}