<section id="skills" [ngClass]="lightmodus.light() ? 'light-background' : 'dark-background'">
  <div class="content">
    <h1 [ngClass]="lightmodus.light() ? 'color-light' : 'color-dark'">{{text.skillsText().title}} </h1>
    <div class="skills-wrapper">
      <div class="skills">
        @for(image of imagesFrontend; track image; let index = $index){
          <img (click)="setFrontendText(index); $event.stopPropagation()" [appClickOutside]="hideText" [attr.aria-label]="image"
               src="img/{{image.toLowerCase()}}.png" [attr.aria-label]="image">
          
          @if(showText().frontend === index){
            <div class="image-text" [ngClass]="lightmodus.light() ? 'dark-background' : 'light-background'">
              <img src="img/{{image.toLowerCase()}}.png" alt="">
              <p>{{text.singleSkill().textFrontend[index]}}</p>
            </div>
          }
          <span></span>
        }
      </div>
      
      <div class="skills">
        @for(image of imagesBackend; track image; let index = $index){
          <img (click)="setBackendText(index); $event.stopPropagation()" [appClickOutside]="hideText" [attr.aria-label]="image"
               src="img/{{image.toLowerCase()}}.png" [attr.aria-label]="image">
          
          @if(showText().backend === index){
            <div class="image-text" [ngClass]="lightmodus.light() ? 'dark-background' : 'light-background'">
              <img src="img/{{image.toLowerCase()}}.png" alt="">
              <p>{{text.singleSkill().textBackend[index]}}</p>
              
            </div>
          }
          <span></span>
        }
        
      </div>
      
     
    </div>
  </div>
</section>