@use '../styles/mixins' as *;

.dark-mode {
  
  &:hover {
    cursor: pointer;
    path{
      animation: fillUpDark 3s ease-in-out infinite;
    }
    
    rect{
      animation: heightRectDark 3s ease-in-out infinite;
      fill: $dark-hover;
    }
  }
}

.light-mode {
  rect{
    stroke: black;
  }

  path{
    fill: black;
  }
  &:hover {
    cursor: pointer;
    path{
      animation: fillUpLight 3s ease-in-out infinite;
    }
    
    rect{
      animation: heightRectLight 3s ease-in-out infinite;
      fill: $light-hover;
    }
  }
    }

@keyframes fillUpDark {
  0%, 100% {
    fill: white;
    opacity: 0;
  }
  50% {
    fill: white;
    opacity: 1;
  }
}


@keyframes heightRectDark{
  0%{
    clip-path: inset(100% 0 0 0);
    color: $dark-hover;
    stroke: $dark-hover;
  }
  50%{
    clip-path: inset(0 0 0 0);
    color: $dark-normal;
    stroke: $dark-normal;
  }
  100%{
    clip-path: inset(100% 0 0 0);
    stroke: $dark-hover;

  }
}

@keyframes fillUpLight {
  0%, 100% {
    fill: $light-hover;
    opacity: 0;
  }
  50% {
    fill: black;
    opacity: 1;
  }
}

@keyframes heightRectLight{
  0%{
    clip-path: inset(100% 0 0 0);
    color: $light-normal;
    stroke: $light-normal;
  }
  50%{
    clip-path: inset(0 0 0 0); 
    color: $light-normal;
    stroke: $light-normal;
  }
  100%{
    clip-path: inset(100% 0 0 0);
    stroke: $light-normal;
  }
}

