<section [ngClass]="lightmodus.light() ? 'light-background border-footer-light' : 'dark-background border-footer-dark'" >
    <footer >
      <div class="info">
        <span (click)="navigator.navigateTo('' , 'about')" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link"> {{ text.footerText().name }}</span>
        <span>{{ text.footerText().job }}</span>
        <a href="{{ text.footerText().location.map}}" target="_blank" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link">{{ text.footerText().location.title}}</a>
      </div>
      <a routerLink="/"><span [ngClass]="lightmodus.light() ? 'color-light' : 'color-dark'" class="copyright">{{ text.footerText().copyright }}</span></a>
      <div class="links">
        <a href="{{ text.footerText().links.github.link}}" target="_blank" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link">{{ text.footerText().links.github.title }}</a>
        <a href="{{ text.footerText().links.linkedin.link}}" target="_blank" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link">{{ text.footerText().links.linkedin.title }}</a>
        <a href="mailto:{{ text.footerText().links.contact.email}}" target="_blank" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link">{{ text.footerText().links.contact.title }}</a>
        <span (click)="navigator.navigateTo(text.footerText().links.inprint.route, null)" [ngClass]="lightmodus.light() ? 'link-light' : 'link-dark'" class="link">{{ text.footerText().links.inprint.title }}</span>
      </div>
    </footer>
</section>