@use '../../shared/styles/mixins' as *;

.content {
  @include display(flex, row, space-between, center);
  position: relative;
  gap: 20px;
  padding: 10px 30px;
  @media(max-width: 800px){
    flex-direction: column-reverse;
  }
}

.tech-img {
  height: 32px;
  width: 32px;
  object-fit: fill;
}

.icon{
  @media(max-width: 400px){
    display: none;
  }
}


.text-wrapper {
  width: 100%;
  @include display(flex, row, flex-start, center);
  gap: 10px;

  &.light-icon {
    .icon {
      color: $light-normal;
    }
  }
  &.dark-icon {
    .icon {
      color: $dark-hover;
    }
  }

  &:hover {
    &.light-icon {
      .icon {
        color: $light-hover;
      }
    }
    &.dark-icon {
      .icon {
        color: $dark-normal;
      }
    }
  }
}


.img-area {
  @include display(flex, column, center, center);
  gap: 10px
}

.project-img {
  width: 100%;
  object-fit: fill;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  @media(max-width: 400px){
    width: 200px;
    height: 160px;
  }
}

.tech-area {
  @include display(flex, row, center, center);
  gap: 8px;
  @media(max-width: 340px){
    flex-wrap: wrap;
   
  }
}

button{
  font-size: 16px;
  padding: 4px 8px;
}

.links{
  @include display(flex, row, center, center);
  gap: 10px;
}