@use "app/shared/styles/mixins" as *;


@font-face {
  font-family: "hero";
  src: url('../public/fonts/Eczar-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  
}

