
  <app-hero></app-hero>


<div appLazyload (isVisible)="aboutVisible = true">
  <app-about *ngIf="aboutVisible"></app-about>
</div>

<div appLazyload (isVisible)="skillsVisible = true">
  <app-skills *ngIf="skillsVisible"></app-skills>
</div>

<div appLazyload (isVisible)="projectsVisible = true">
  <app-projects *ngIf="projectsVisible"></app-projects>
</div>

<div appLazyload (isVisible)="referencesVisible = true">
  <app-references *ngIf="referencesVisible"></app-references>
</div>

<div appLazyload (isVisible)="contactVisible = true">
  <app-contact *ngIf="contactVisible"></app-contact>
</div>
